<div class="header">
  <div class="left-header">
    Topic:
  </div>
  <div class="right-header">
    <a>back</a>
  </div>
</div>

<div class="main">
  <div class="questions">
    <div class="question-sentence">
      Hello~
    </div>
    <div class="question">
      What~?
    </div>
    <div class="selects">
      <a>A-</a>
      <a>B-</a>
      <a>C-</a>
    </div>
  </div>
</div>

