<div class="side-bar-header">
  <div class="user-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-question">
    <a href="#">create-question</a>
  </div>
</div>

<div class="Nums">
  <div class="Num">
    <div class="Num-name">
      <a href="#"> question</a>
    </div>
  </div>
  <div class="Num">
    <div class="Num-name">
      <a href="#">question2</a>
    </div>
  </div>
</div>
