.wrapper {
  display: flex;
}




.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #FF3366;
}

.side-bar-header {
  height: 100px;
  padding: 0, 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-name a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.create-question {
  font-size: 10px;
}

.create-question a{
  border: 1px solid lightblue;
  padding: 30px;
  color: black;
  text-decoration: none;
}

.Nums {
  background-color: #DDFFFF;
  height: calc(100vh - 100px);
  padding: 0, 20px;
  overflow: scroll;
}

.Num {
  padding: 20px 0 40px 20px;
}

.Num-name a {
  text-decoration: none;
  color: black;
}








.main-contents {
  background-color: #DDFFFF;
  width: calc(100vw - 300px);
  padding: 0, 40px;
}

.header {
  height: 100px;
  margin: 0, 40px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  padding-top: 36px;
  padding-left: 40px;
  font-size: 24px;
  color: #333;
}

.right-header {
  border: 1px, solid, darkred;
  color: darkred;
  text-decoration: none;
  padding: 40px
}

.main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px);
  padding: 46px, 40px, 0; 
}

.questions {
  padding: 30px;
}

.selects {
  display:flex;
  justify-content: space-around;
}